body {
    box-sizing: border-box;
    background-color: black;
    color: white;
    max-width: 1536px;
    margin: 0 auto;
}

.navbarContainer {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.navbarLogoContainer {
    position: relative;
    height: 50%;
    width: 8rem;
    padding: 0;
}

.navbarLogo {
    object-fit: contain;
}

.navbarMenuItems {
    list-style-type: none;
    margin: 0;
    padding: 0 2rem 0 0;
    display: flex;
    gap: 5rem;
    font-size: .75rem;
}

.imagesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.webImageContainer {
    position: relative;
    height: 25rem;
    width: 50%;
    border: 1px solid red;
    /* border: 1px solid red; */
}
.mobileImageContainer {
    position: relative;
    height: 25rem;
    width: 50%;
    /* border: 1px solid blue; */
}

.imageStyle {
    object-fit: contain;
}

.heroContainer {
    /* width: 100%; */
    padding: 0rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heroLogoContainer {
    width: 100%;
}

.heroLogo {
    width: 100%;
    object-fit: cover;
}

.heroHeader {
    width: 100%;
    font-size: 5rem;
    font-weight: 100;
    color: white;
    
}

.heroSubheader {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    color: white;
}

.heroStack {
    width: auto;
    font-weight: 200;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-evenly;
    color: white;
    list-style-type: none;
    padding: 0;
}

.bannerImage {
    width: 100%;
    object-fit: cover;
    margin: 0;
    filter: brightness(.5);
    transition : .15s filter ease-in-out, .15s -webkit-filter ease-in-out;
}

.bannerImage:hover {
    cursor: pointer;
    filter: brightness(1);
    transition : .15s filter ease-in-out, .15s -webkit-filter ease-in-out;
}

.bannerContainer {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.bannerText {
    margin-left: -15rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    background-color: rgba(0, 0, 0, .75);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* border-right: 2px solid black; */
    width: 10rem;
    height: 200px;
    line-height: 200px;
    text-align: right;
    padding: 0rem 1rem 0rem;
}

.bannerImage:hover ~ .bannerText {
    pointer-events: none;
    margin-left: 0rem;
}

.testText {
    color: white;
    cursor: pointer
}