body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow-x: hidden; /* used to hide horz scroll bar on drop menus */
    max-width: 1000px;
    overflow-y: scroll;
    font-weight: 100;
}

.navbarContainer {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 5rem;
    margin: 0rem 2rem;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.navbarLogoContainer:active .navbarLogoText {
    background-color: white;
    color: black;
}

.navbarLogo {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.85;
}

.navbarLogo ~ .navbarLogoText {
    display: none;
}

.navbarLogoContainer:hover .navbarLogo {
    display: none;
}
.navbarLogoContainer:hover .navbarLogoText {
    display: contents;
    pointer-events: none;
}

@media screen and (width <= 690px) {
    .navbarContainer {
        justify-content: center;
    }

    .navbarMenuItems {
        display: none;
    }

    .navbarLogoContainer {
        cursor: pointer;
        height: 2.5rem;
        width: 5rem;
        display: flex;
        align-items: center;
    }
}

@media screen and (width > 690px) {
    .navbarContainer {
        justify-content: space-between;
    }

    .navbarLogoContainer {
        height: 2.5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 100;
        cursor: pointer;
    }

    .navbarMenuItems {
        list-style-type: none;
        display: flex;
        gap: 5rem;
        font-size: 0.75rem;
    }

    .navbarMenuItems li {
        transition: 0.2s ease-in-out;
        cursor: none;
    }

    .navbarMenuItems li:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        transition: 0.2s ease-in-out;
    }
}

.imagesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.webImageContainer {
    position: relative;
    height: 25rem;
    width: 50%;
}

.mobileImageContainer {
    position: relative;
    height: 25rem;
    width: 50%;
}

.imageStyle {
    object-fit: contain;
}

/* ***************** */

@media screen and (width > 690px) {
    .bannerContainer {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        box-shadow: 0 -1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0);
    }

    .bannerImage {
        object-fit: cover;
        filter: brightness(0.5);
        transition: 0.15s filter ease-in-out, 0.15s -webkit-filter ease-in-out;
    }

    .bannerImage:hover {
        cursor: pointer;
        filter: brightness(1);
        transition: 0.15s filter ease-in-out, 0.15s -webkit-filter ease-in-out;
    }

    .bannerImage:active {
        filter: invert();
    }

    .bannerTitle {
        margin-left: -15rem;
        position: absolute;
        font-size: 0.1rem;
        font-weight: 100;
        color: white;
        background-color: rgba(0, 0, 0, 0.75);
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        width: 10rem;
        height: 0px;
        line-height: 0px;
        text-align: right;
        padding: 0rem 1rem 0rem;
        /* transition: 0.2s ease-in; */
    }

    .bannerImage:hover ~ .bannerTitle {
        pointer-events: none;
        font-size: 2rem;
        margin-left: 0rem;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        width: 10rem;
        height: 200px;
        line-height: 200px;
        transition: 0.2s ease-out;
    }

    .bannerContent.BIO {
        height: 60rem;
        transition: 0.25s ease-out;
    }

    .bannerContent.WORK {
        height: 162rem;
        transition: 1s ease-out;
    }
}
@media screen and (max-width: 690px) {
    .bannerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bannerImage {
        width: 100%;
        object-fit: cover;
        filter: brightness(0.65);
    }

    .bannerImage:hover {
        cursor: pointer;
    }

    .bannerImage:active {
        filter: invert();
    }

    .bannerTitle {
        position: absolute;
        margin: 0 auto;
        font-size: 4rem;
        font-weight: 100;
        color: white;
        text-align: center;
        width: 100%;
        pointer-events: none;
    }

    .bannerContent.BIO {
        height: 65rem;
        transition: 0.25s ease-out;
    }

    @media screen and (width <= 690px) {
        .bannerContent.WORK {
            height: 205rem;
            transition: 1s ease-out;
        }
    }

    @media screen and (width <= 655px) {
        .bannerContent.WORK {
            height: 207rem;
            transition: 1s ease-out;
        }
    }

    @media screen and (width <= 615px) {
        .bannerContent.WORK {
            height: 209rem;
            transition: 1s ease-out;
        }
    }

    @media screen and (width <= 600px) {
        .bannerContent.WORK {
            height: 214rem;
            transition: 1s ease-out;
        }
    }

    @media screen and (width <= 520px) {
        .bannerContent.WORK {
            height: 217rem;
            transition: 1s ease-out;
        }
    }
    
    @media screen and (width <= 500px) {
        .bannerContent.WORK {
            height: 221rem;
            transition: 1s ease-out;
        }

    }
    @media screen and (width <= 400px) {
        .bannerContent.WORK {
            height: 216rem;
            transition: 1s ease-out;
        }
    }
    @media screen and (width <= 350px) {
        .bannerContent.WORK {
            height: 214rem;
            transition: 1s ease-out;
        }
    }

    .mobileSpacer {
        max-width: 690px;
        display: flex;
        flex-direction: column;
        gap: 0.4px;
    }
}

.bannerContent {
    height: 0rem;
    transition: 0.25s ease-out;
    overflow: hidden;
}

.bioContainer {
    width: auto;
    gap: 1rem;
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portraitImage {
    position: relative;
    width: 10rem;
    height: 10rem;
    min-width: 10rem;
    min-height: 10rem;
    margin: 3rem 0;
    /* outline: 1px solid red; */
}

.textContent {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nameHeader {
    font-weight: 300;
    font-size: 2.5rem;
    transition: 0.1s ease-in;
}

.nameHeader:hover {
    font-weight: 900;
    transition: 0.1s ease-in;
    cursor: default;
}

.subHeader {
    margin-top: 0.5rem;
    font-size: 2rem;
}

.stack {
    width: 75%;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 3rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-wrap: balance;
}

.greeting {
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    text-wrap: balance;
    line-height: 2rem;
    margin-top: 3rem;
}

.thanks {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 5rem;
}

.logoFooter {
    position: relative;
    height: 2rem;
    width: 4rem;
    margin: 4rem 0 4rem 0;
}

/* ******************* */

.workContainer {
    /* border: 1px solid burlywood; */
    gap: 1rem;
    padding: 3rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workProject {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workTitle {
    /* border: 1px solid white; */
    text-transform: uppercase;
}

.workTitleAndImage0 {
    /* border: 1px solid purple; */
    width: 80vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.workTitleAndImage1 {
    /* border: 1px solid purple; */
    width: 80vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.workTitleAndImage:hover .workTitle {
    cursor: default;
    pointer-events: none;
}

.workImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.workImageStyle {
    object-fit: contain;
    pointer-events: none;
}

.workExcerpt {
    text-align: center;
    text-wrap: balance;
    font-weight: 200;
    pointer-events: none;
}

.workMobileImageAndDescription {
    margin-top: 3rem;
    height: auto;
    display: flex;
    gap: 1rem;
    /* border: 1px solid yellow; */
}

.workHorzBreak {
    width: 100vw;
    border-top: 1px dotted white;
    margin: 1rem;
}

@media screen and (width <= 690px) {
    .workProject {
        margin-top: 2rem;
    }

    .workContainer {
        width: auto;
        margin: 1rem;
        padding-top: 1rem;
    }

    .workImageContainer {
        position: relative;
        max-width: 100%;
        height: 15rem;
        /* border: 1px solid orange; */
    }

    .workImageStyle {
        object-fit: contain;
        pointer-events: none;
    }

    .workTitleAndImage0 {
        /* border: 1px solid purple; */
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .workTitleAndImage1 {
        /* border: 1px solid purple; */
        width: 80vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .workTitle {
        z-index: 1;
        margin-top: -3.5rem;
        font-size: 24vw;
        text-align: center;
        text-shadow: 0px 4px 5px black;
    }

    .workExcerpt {
        margin-top: 1rem;
        font-size: 4.5vw;
        max-width: 85%;
    }

    .workMobileImageAndDescription {
        margin: 3rem 1rem 0rem 1rem;
        width: auto;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid yellow; */
    }

    .workMobileImageOuterContainer {
        height: 30rem;
        width: 100%;
        min-width: 18rem;
        /* border: 1px solid blueviolet; */
    }

    .workMobileImageContainer {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .workMobileImageStyle {
        object-fit: contain;
    }

    .workContentContainer {
        margin-top: 1rem;
        width: 70%;
        min-width: 15rem;
        text-align: center;
    }

    .workLinks {
        margin-top: 1.5rem;
        margin-bottom: 0rem;
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .workLink {
        color: inherit;
        text-decoration: inherit;
    }

    .workLink:hover {
        text-decoration: underline;
    }

    .workLink:active {
        background-color: white;
        color: black;
    }
}

@media screen and (width > 690px) {
    .workContainer {
        width: auto;
    }

    .workTitleAndImage0 {
        /* border: 1px solid purple; */
        width: 40rem;
        height: 20rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        container-type: inline-size;
        pointer-events: none;
    }

    .workTitleAndImage1 {
        /* border: 1px solid purple; */
        width: 40rem;
        height: 20rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        container-type: inline-size;
        pointer-events: none;
    }

    .workTitleAndImage0 .workTitle {
        z-index: 1;
        text-shadow: 0px 5px 10px black;
        font-weight: 100;
        font-size: 6rem;
        width: 20rem;
        text-align: right;
        margin-right: -17rem;
        pointer-events: none;
    }

    .workTitleAndImage1 .workTitle {
        z-index: 1;
        text-shadow: 0px 5px 10px black;
        font-weight: 100;
        font-size: 6rem;
        width: 20rem;
        text-align: right;
        margin-left: -17rem;
        pointer-events: none;
    }

    .workTitleAndImage0:hover {
        height: 12rem;
    }

    .workTitleAndImage1:hover {
        height: 12rem;
    }

    .workTitleAndImage0:hover .workTitle {
        /* border: 1px solid green; */
        font-size: 28cqw;
        text-align: center;
        width: 100%;
        cursor: default;
    }

    .workTitleAndImage0:hover .workImageContainer {
        display: none;
    }

    .workTitleAndImage1:hover .workTitle {
        /* border: 1px solid green; */
        font-size: 28cqw;
        text-align: center;
        width: 100%;
        cursor: default;
    }

    .workTitleAndImage1:hover .workImageContainer {
        display: none;
    }

    .workExcerpt {
        margin-top: 3rem;
        font-size: 2rem;
        max-width: 40rem;
    }

    .workMobileImageAndDescription {
        width: 40rem;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        /* border: 1px solid yellow; */
    }

    .workMobileImageOuterContainer {
        padding-top: 2rem;
        flex: 1;
        display: flex;
        align-items: start;
        /* border: 1px solid blueviolet; */
    }

    .workMobileImageContainer {
        position: relative;
        height: 95%;
        width: 100%;
    }

    .workMobileImageStyle {
        object-fit: contain;
    }

    .workContentContainer {
        flex: 1;
        text-align: left;
    }

    .workLinks {
        width: 100%;
        /* border: 1px solid blue; */
        margin-top: 2rem;
        /* margin-bottom: 3rem; */
        text-align: right;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .workLink {
        color: inherit;
        text-decoration: inherit;
    }

    .workLink:hover {
        text-decoration: underline;
    }

    .workLink:active {
        background-color: white;
        color: black;
    }
}
